[pylithapp]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
pylithapp = 1
timedependent = 1
greensfns = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatlagrange = 1
materials = 1


# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh reader to the CUBIT reader.
reader = pylith.meshio.MeshIOCubit

# Optimize ordering of mesh cells and vertices using reverse
# Cuthill-KcKee algorithm.
#reorder_mesh = True

[pylithapp.mesh_generator.reader]
# (4,000 elements)
#filename = mesh/lazufre_hex8_10km.exo

# (32,000 elements)
#filename = mesh/lazufre_hex8_5km.exo

# (65,000 elm)
#filename = mesh/lazufre_hex8_4km.exo

# (148,137 elm) #NOTE: not cleanly divisible by domain size
#filename = mesh/lazufre_hex8_3km.exo
#( 256,000)
#filename = mesh/lazufre_hex8_2.5km.exo

# (500,000 elements) 
filename = mesh/lazufre_hex8_2km.exo

# (4,000,000 elemetns)
#filename = mesh/lazufre_hex8_1km.exo


# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
bc = [x_pos,x_neg,y_pos,y_neg,z_neg]

# Set the parameters for Dirichlet boundary conditions applied on the
# x,y, and -z faces of the box.
#
# We fix the x and y degrees of freedom on the -x and +x faces, and
# fix the z degree of freedom on the bottom (-z) face.
#
# For all boundaries, we retain the default ZeroDispDB, which specifies
# a zero value.

# The label corresponds to the name of the nodeset in CUBIT.

# +x face
[pylithapp.problem.bc.x_pos]
#bc_dof = [0, 1]
bc_dof = [0]
label = face_xpos
db_initial.label = Dirichlet BC on +x

# -x face
[pylithapp.problem.bc.x_neg]
#bc_dof = [0, 1]
bc_dof = [0]
label = face_xneg
db_initial.label = Dirichlet BC on -x

# +y face
[pylithapp.problem.bc.y_pos]
#bc_dof = [0, 1]
bc_dof = [1]
label = face_ypos
db_initial.label = Dirichlet BC on +y

# -y face
[pylithapp.problem.bc.y_neg]
# fixed:
#bc_dof = [0, 1] 
# Roller:
bc_dof = [1] 
label = face_yneg
db_initial.label = Dirichlet BC on -y

# -z face
[pylithapp.problem.bc.z_neg]
bc_dof = [2]
label = face_zneg
db_initial.label = Dirichlet BC on -z



# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]

# Corresponds to block names in mesh_hex8_1km.jou
materials = [elastic, viscoelastic]

[pylithapp.problem.materials.elastic]
label = Upper crust material
id = 1
db_properties.label = Properties for upper crust
db_properties.iohandler.filename = spatialdb/mat_elastic_delnegro2009.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.problem.materials.viscoelastic]
label = Lower crust material
id = 2
db_properties.label = Properties for lower crust
db_properties.iohandler.filename = spatialdb/mat_elastic_delnegro2009.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.
[pylithapp.petsc]
malloc_dump =

# Preconditioner settings.
pc_type = asm
sub_pc_factor_shift_type = nonzero

# Convergence parameters.
ksp_rtol = 1.0e-10
ksp_atol = 1.0e-20
ksp_max_it = 500
ksp_gmres_restart = 50

# Linear solver monitoring options.
ksp_monitor = true
#ksp_view = true
ksp_converged_reason = true
ksp_error_if_not_converged = true

# Nonlinear solver monitoring options.
snes_rtol = 1.0e-10
snes_atol = 1.0e-9
snes_max_it = 100
snes_monitor = true
snes_linesearch_monitor = true
#snes_view = true
snes_converged_reason = true
snes_error_if_not_converged = true

# PETSc summary -- useful for performance information.
log_summary = true

# Uncomment to launch gdb when starting PyLith.
# start_in_debugger = true
